.container{
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 9;
    background-color: rgba(45, 46, 46, 0.518);
    display: flex;
    align-items: flex;
    align-items: center;
    justify-content: center;
}
.Form_popup{
    width: 500px;
    height: 300px;
}
.Form_header{
    width: 100%;
    border: solid rgb(240, 243, 240);
}
.B_cerrar{
    padding-left: 0;
    padding-top: 0;
    margin-top: -45px;
    margin-right: 5px;
    padding-right: 0;
    float: right;
    cursor: pointer;
    background-image: url('./assets/cerrar2.png');
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
}
.Form_popup .Form_header h2 {
    font: 1em sans-serif;
    color: white;
    padding-right: 0;
    margin-left: 0;
}
.form_cuerpo{
    padding-top: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
    border: solid rgb(240, 243, 240);
    margin-left: 0;
    margin-right: 0;
    background-color: rgba(55, 141, 141, 0.518);
}
.container button{
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 8px;
    margin-bottom: 3px;
    float: right; 
    cursor: pointer;
}